.page-header
  .pull-right
    - if action_is? :index
      = link_to new_website_path, :class => 'btn btn-primary' do
        %i.icon-plus.icon-white
        New
        = Website.model_name.human
    - if not action_is? :index and not action_is? :select
      = link_to websites_path, :class => 'btn' do
        %i.icon-arrow-left.icon-white
        Back

  %h1= Website.model_name.human.titleize.pluralize
  
= flash_messages