= render 'page_header'

.hero-unit
  %h1= @website.name
  %p
    %code= @website.urls.join(', ')
  %p
    = link_to edit_website_path(@website), class: 'btn btn-large btn-primary' do
      %i.icon-pencil.icon-white
      Edit
    = link_to websites_path, class: 'btn btn-large' do
      %i.icon-arrow-left
      Back
%fieldset
  %legend= Website.human_attribute_name :default_params