= simple_form_for(@user) do |f|
  = f.error_notification
  = f.input :name
  = f.input :email, :disabled => !@user.new_record?
  = f.input :password
  = f.input :password_confirmation
  = f.input :role
  .form-actions
    = f.button :submit
