= simple_form_for(@user) do |f|
  = f.error_notification
  = f.input :name
  = f.input :email, :disabled => !@user.new_record?
  = f.input :password
  = f.input :password_confirmation
  = f.input :role, :as => :radio_buttons, :collection => Role.all
  = f.input :website_ids, :as => :check_boxes, :collection => Website.all
  .form-actions
    = f.button :submit
    = link_to users_path, :class => 'btn' do
      %i.icon-arrow-left
      Back
