= render 'page_header'

= flash_messages

%table.table.table-striped
  %thead
    %tr
      %th{width: 220}= User.human_attribute_name :name
      %th{width: 220}= User.human_attribute_name :email
      %th=             User.human_attribute_name :role
      %th{width: 220}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td
          %code= ":#{user.role}"
        %td{:align => :rigth}
          = link_to user, :class => 'btn btn-mini' do
            %i.icon-eye
            Show
          = link_to edit_user_path(user), :class => 'btn btn-mini btn-primary' do
            %i.icon-pencil
            Edit
          = link_to_destroy user, :class => 'btn btn-mini btn-danger' do
            %i.icon-trash
            Destroy
    - if @users.empty?
      %tr
        %td{:colspan => 4}
          %i.icon-exclamation-sign
          Empty result