.page-header
  .pull-right
    - if not action_is? :index
      = link_to website_resources_path(current_website), :class => 'btn' do
        %i.icon-arrow-left.icon-white
        Back
    - if action_is? :index
      .btn-group
        = link_to new_asset_for_website_path(current_website, :asset => :folder), :class => 'btn' do
          = Asset::Folder.model_name.human
        = link_to new_asset_for_website_path(current_website, :asset => :static), :class => 'btn' do
          = Asset::Static.model_name.human
        / = link_to new_asset_for_website_path(current_website, :asset => :text), :class => 'btn' do
        /   Asset

  %h1
    = current_website.name
    = Resource.model_name.human.titleize.pluralize.downcase
  
= flash_messages