= render 'page_header'

%table.table.table-striped#file_system
  %thead
    %th= Resource.model_name.human.pluralize
    %th{:width => 200}
  %tbody
    - @resources.each do |resource|
      %tr{:'data-id' => resource.id}
        %td= resource.urn
        %td{:align => :right}
          = link_to [@website, resource], :class => 'btn btn-mini' do
            %i.icon-eye
            Show
          = link_to edit_website_resource_path(@website, resource), :class => 'btn btn-mini btn-primary' do
            %i.icon-pencil
            Edit
          = link_to_destroy [@website, resource], :class => 'btn btn-mini btn-danger' do
            %i.icon-trash
            Destroy
    - if @resources.empty?
      %tr
        %td{:colspan => 2}
          %i.icon-exclamation-sign
          Empty result