= render 'page_header'

%table.table.table-striped#file_system
  %thead
    %th= Resource.model_name.human.pluralize
    %th{width: 200}
  %tbody
    - @resources.each do |resource|
      %tr{data: {id: resource.id}}
        %td
          = resource.uri
        %td.btn-group
          = link_to url_for(resource), class: 'btn btn-mini' do
            %i.icon-eye
            Show
          = link_to url_for(:edit, resource), class: 'btn btn-mini btn-primary' do
            %i.icon-pencil
            Edit
          = link_to_destroy url_for(resource), class: 'btn btn-mini btn-danger' do
            %i.icon-trash
            Destroy
    - if @resources.empty?
      %tr
        %td{colspan: 2}
          %i.icon-exclamation-sign
          Empty result